@tailwind base;
@tailwind components;
@tailwind utilities;


/* - Basic */
html {
	margin-right: 0 !important;
}

body {
	margin: 0;
	padding: 0;
	border: none;
	font-family: "Roboto";
	font-size: 16px;
	line-height: 1.5;
	color: #bbb;
	background: #101010;
	letter-spacing: 0;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

body.scroll_hidden {
	overflow: hidden;
	height: 100vh;
}

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/* - Blockquote */
blockquote {
	font-family: "Roboto";
}

/* - Animations */
/* preloader */
@-webkit-keyframes loading {
	0% {
		height: 0;
		top: 0;
		bottom: auto;
	}
	50% {
		height: 100%;
		top: 0;
		bottom: auto;
	}
	51% {
		height: 100%;
		top: 0;
		bottom: auto;
	}
	52% {
		height: 100%;
		top: auto;
		bottom: 0;
	}
	100% {
		height: 0;
		top: auto;
		bottom: 0;
	}
}
@keyframes loading {
	0% {
		height: 0;
		top: 0;
		bottom: auto;
	}
	50% {
		height: 100%;
		top: 0;
		bottom: auto;
	}
	51% {
		height: 100%;
		top: 0;
		bottom: auto;
	}
	52% {
		height: 100%;
		top: auto;
		bottom: 0;
	}
	100% {
		height: 0;
		top: auto;
		bottom: 0;
	}
}
/* Mouse Button Animations */
@keyframes mouse-anim-mobile {
	0% {
		bottom: 30%;
	}
	50% {
		bottom: 29%;
	}
	100% {
		bottom: 30%;
	}
}

@keyframes mouse-anim-desktop {
	0% {
		bottom: 10px;
	}
	50% {
		bottom: 5px;
	}
	100% {
		bottom: 10px;
	}
}

@keyframes border-transition {
	0% {
		border-bottom-right-radius: 40%;
	}
	50% {
		border-bottom-left-radius: 99997;
	}
	100% {
		bottom: 1px;
	}
}

@keyframes bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}